/* Defaults */
nav,
header,
footer {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* nav bar */

nav {
  width: 100%;
  margin: 0;
}
nav ul {
  background-color: #c0c0c0;
  overflow: hidden;
  margin: 0;
  padding: 0%;
}
.topnav li {
  list-style: none;
  float: left;
}
ul.topnav li.topnav-rigth {
  list-style: none;
  float: right;
}
.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 18px;
  text-align: center;
  padding: 13px;
  text-transform: uppercase;
  color: #666666;
}
.topnav li a:hover {
  background-color: #0080ff;
  color: white;
}
ul.topnav li.dropIcone {
  display: none;
}
.container {
  width: 100%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
#section1-grad {
  background-image: linear-gradient(to bottom right, rgb(38, 0, 255), yellow);
}
h1.bigger {
  color: #fff;
  font-size: 50px;
  margin: 0%;
  line-height: 65px;
}
form h2 {
  color: #fff;
}
input[type="text"] {
  font-size: 23px;
  width: 430px;
  min-width: 100px;
  padding: 7px;
}

/*Mobile*/
@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  ul.topnav li.dropIcon {
    display: block;
    float: right;
  }
  ul.topnav.responsive li.dropIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li {
    display: inline;
    float: none;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
